table {
    border-collapse: collapse;
    font-family: monospace;
    letter-spacing: 1px;
    table-layout: fixed;
    overflow-x: hidden;
    width: 200px;
  }
  tbody {
    width: 1327px;
  }
  
  th{
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 10px;
    color: #ffffff00;
    height: 100px;
  }
  
  td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 10px;
    color: #ffffff00;
    height: 150px;
    text-align:justify;
  }
  
  tr {
      background: #0000008f;
      height: 100px;
      width: auto;
  }

  .centered-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.clickable {
  color:rgb(28, 199, 105) !important;
}
a {
  font-size: 28.26px;
  color: rgb(255, 255, 255);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing:none;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  color: #00814c;
  font-size: 28.26px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing:none;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  background-color: black;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 40%;
  overflow: scroll;
}
p {
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.wraptext {
  width: inherit;
  word-wrap: break-word;
  word-break: inherit;
}

ul {
  color: rgb(255, 255, 255);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
pre {
  font-size: x-small;
  color: rgb(255, 255, 255);
}
h1 {
    color: white;
    font-size: 39.96px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h2 {
  font-size: 28.26px;
  color: rgb(255, 255, 255);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing:none;
  font-weight: 800;
  font-style: normal;
}
h3 {
  font-size: 19.99px;
  color: white;

}
h4 {
  color: white;
  font-size: 14.14px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
h5 {
  color:  #00814c;
  font-size: 10px;
}
h6 {
  font-size: 7.07px;
}
.form {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-style: italic;
}
.logo {
  color: white;
  color: white;
  font-size: 24.14px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.sidebar{
  justify-content:center;
}
.flex2 {
  display: flex;
  flex-direction: column;
}